In [1]:
# importing libraries
from pydataset import data
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
#Get the data
titanic = data('titanic')
titanic.sample(5)

Para poder usar essas informações no meu modelo, transformo as categorias (class, age, sex e survived) em variáveis binários.

In [3]:
#Feature engenerinng (one hot encoding) Transformar algumas categorias em valores
titanic = pd.get_dummies(titanic, drop_first=True) # transforma as categorias em valores booleanos. 
titanic.sample(5)

      class_2nd class  class_3rd class  age_child  sex_women  survived_yes
750                 0                1          0          0             0
1035                0                1          0          0             0
122                 0                0          0          0             0
536                 1                0          0          1             1
1087                0                1          0          1             1

Aqui, separo os meus dados (dados de teste e dado de treino) para utilizar em meu modelo

In [4]:
# Test train split

#axis=1 para remover a coluna toda. (dataframe sem o "survived_yes", dataframe booleano com 0 e 1)
#X_train, X_test, y_train, y_test = train_test_split(titanic.drop("survived_yes", axis =1), titanic["survived_yes"])  
X_train, X_test, y_train, y_test = train_test_split(titanic.drop('survived_yes', axis=1), titanic['survived_yes'])

In [5]:
# Train the model using the training data
LogReg = LogisticRegression()
LogReg.fit(X_train, y_train)
print(LogReg)

LogisticRegression()

In [6]:
#Predicting if a class-1 child-age girl survived
LogReg.predict(np.array([[0,0,1,1]]))[0]

C:\Users\DANIEL\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

1

In [7]:
#Predicting if a class-3 adult-age male survived
LogReg.predict(np.array([[0,1,0,0]]))[0]

C:\Users\DANIEL\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

0

In [8]:
LogReg.score(X_test,y_test)

0.7750759878419453

In [9]:
prediction = (LogReg.predict(X_test) > .5).astype(int)
np.sum(prediction == y_test) / len(y_test) # Quanto mais perto de 1, mais vezes o meu modelo acertou. Acurácia

0.7750759878419453